*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }
    body{
        font-family: montserrat;
    }
    nav{
        background: #0082e6;
        height: 80px;
        width: 100%;
    }
    label.log{
        color: white;
    font-size: 35;
    line-height: 0 100px;
    font-weight: bold;
    }
    nav ul{
        float: right;
        margin-right: 20px;
    
    }
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;;
    text-transform: uppercase;
    
    }
    a.active,a:hover{
        background: #1b9bff;
        transition: .5s;
    }