

.image{
    width: 2000px;
    height: 1000px;
 
}
 

.Group1 {
    width: 2000px;
    position: relative;
    display: inline-block;
  
    
}
.image609 {

position: relative;
display: inline-block;
   bottom: 1040px;
    }
    .image643{
        position: relative;
display: inline-block;
   bottom: 1000px;
   left: 450px;
    }

    .image7 {
        position: relative;
        display: inline-block;
           bottom: 1700px;
           right: 1400px;
    }
   .imagedecen{
    position: relative;
    display: inline-block;
       bottom: 1800px;
       left: 700px;

   }
   .group2{
    position: relative;
    display: inline-block;
       bottom: 2100px;
       right: 30px;
   }
  
   .image34572{
    width: 1920px;
    position: relative;
    display: inline-block;
  
  
   } .image34572{
    width: 1920px;
    position: relative;
    display: inline-block;
    bottom: 128px;
  
   }
   .image34569{
    width: 1920px;
    position: relative;
    display: inline-block;
    bottom: 1200px;
  
   }
   .image34584{
    
    position: relative;
    display: inline-block;
    bottom: 2050px;
    left: 300px;
   
   }
   .imageAboutus{
    
    position: relative;
    display: inline-block;
    bottom: 2340px;
    left: 180px;
   
   }
   .image34571{
    
    position: relative;
    display: inline-block;
    bottom: 1840px;
    right: 200px;
   
   }
   .imageAbout{
    
    position: relative;
    display: inline-block;
    bottom: 2840px;
    left: 600px;
   
   
   }
   .imageFrame2{
    
    position: relative;
    display: inline-block;
    bottom: 1942px;
   
   
   }
 .BuyNFT{

    position: relative;
    display: inline-block;
    bottom: 1800px;
 left: 650px;
 }
 .Launchpad{

    position: relative;
    display: inline-block;
    bottom: 1576px;
 right: 700px;
 }
 .image11{
    width: 1920px;
    position: relative;
    display: inline-block;
    bottom: 1940px;
 
 }
 .imageVector5{
    
    position: relative;
    display: inline-block;
    bottom: 3000px;
 
 }
 .image10{
    
    position: relative;
    display: inline-block;
    bottom: 3600px;
    left: 1200px;
 }
 .imageparagraph{
    
    position: relative;
    display: inline-block;
    bottom: 3600px;
    left:100px;
 }
 .imageLaunchpad2{
    
    position: relative;
    display: inline-block;
    bottom: 4000px;
    right: 700px;
    }
 .imageGroup7{
    
    position: relative;
    display: inline-block;
    bottom: 3900px;
    right: 1380px;
    }
 .image34581{
    
    position: relative;
    display: inline-block;
    bottom: 3330px;
    left: 450px;
    }
 .image34582{
    
    position: relative;
    display: inline-block;
    bottom: 3740px;
    left: 180px;
    }
 .imagesteps{
    
    position: relative;
    display: inline-block;
    bottom: 4090px;
    left: 1150px;
   }
   .image34578{
    
    position: relative;
    display: inline-block;
    bottom: 4500px;
    right: 200px;
    
   }
   .image2{
    
    position: relative;
    display: inline-block;
    bottom: 4040px;
    right: 1050px;
     }
     .image4{
    position: relative;
     display: inline-block;
     bottom: 4199px;
     left: 360px;
     }
.image3{
        position: relative;
         display: inline-block;
         bottom: 4199px;
         right: 270px;
        
 }
 .image1{
  position: relative;
 display: inline-block; 
   bottom: 4199px;
  right: 320px;
            
  }
  .image5{
    position: relative;
   display: inline-block; 
     bottom: 4210px;
    right: 260px;
              
    }
    .image34580{
        position: relative;
       display: inline-block; 
         bottom: 3800px;
       
                  
     }
.imageVector6{
 position: relative;
 display: inline-block; 
  bottom: 3660px;
  left: 120px;
}
.imageVector7{
    position: relative;
    display: inline-block; 
     bottom: 3660px;
     left: 120px;
   }

.image334582{
    position: relative;
    display: inline-block; 
     bottom: 3460px;
     left: 120px;
   }
   .image34586{
    position: relative;
    display: inline-block; 
     bottom: 4260px;
     left: 250px;
    
   }
   .image34587{
    position: relative;
    display: inline-block; 
     bottom: 4260px;
     left: 300px;
    
   }
   .image34588{
    position: relative;
    display: inline-block; 
     bottom: 4260px;
     left: 350px;
    
   }