*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }
    body{
        font-family: montserrat;
        margin: 0;
        width: 1920px;
      background-color: #151414;
        
        
    }
    nav{
        background-color: #151414;
        height: 100px;
        width: 1920px;
        position: relative;
    }
    label.logo{
        color: white;
    font-size: 35px;

    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    }
    nav ul{
        float: right;
        margin-right: 20px;
    
    }
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;;
    text-transform: uppercase;
    
    }
    a.active,a:hover{
        background: #2a2c2d;
        transition: .5s;
    }
    